include ../mixins/_footer-list

footer.footer
  +footer-list({
    title: 'E-mail',
    href: 'mailto:yuhei.yasuda1003@gmail.com'
  }, {
    title: 'Blog',
    href: 'http://yuheiy.hatenablog.com/'
  }, {
    title: 'GitHub',
    href: 'https://github.com/yuheiy'
  }, {
    title: 'Twitter',
    href: 'https://twitter.com/_yuheiy'
  })
