block global-vars

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    block head
      title= title
      meta(name="description", content= description)

  body
    block content
