%container {
  max-width: $width-content-half;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-base;
  padding-right: $padding-base;

  @media (min-width: $break-point) {
    max-width: $width-content;
  }
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
