.main {
  @extend %container;

  @media (min-width: $break-point) {
    max-width: $width-content-half;
    margin-right: 50%;
  }
}

.post-list {
  padding-left: $indent;
  list-style-type: disc;

  > li:not(:first-child) {
    margin-top: $margin-small;
  }

  dd {
    @extend %ellipsis;

    font-size: $text-small;
    opacity: $opacity-quiet;
  }

  time {
    &::before {
      content: "\APublished on ";
      white-space: pre;
    }
  }
}

.readmore {
  margin-top: $margin-small;
  text-align: right;

  > a::before {
    content: "⇒ ";
  }
}
