.list
  display flex
  flex-direction column
  margin-top .8rem
  margin-left 2rem
  font-size 1.3rem

  @media (min-width: 34rem)
    flex-direction row

  li
    margin-top .8rem

    &::before
      content '-'
      margin-right .5em

    @media (min-width: 34rem)
      flex-grow 1
