@import '../node_modules/sanitize.css/sanitize.styl'

color-default = #999
color-focus = #444

@font-face
  font-family 'Junge'
  font-style normal
  font-weight 400
  src url('/font/Junge-Regular.woff2') format('woff2'),
    url('/font/Junge-Regular.woff') format('woff')

:root
  @media (min-width: 60rem)
    font-size 125%

  @media (min-width: 90rem)
    font-size 150%

html
  overflow-y auto

body
  position relative
  font-family Georgia, serif
  color color-default

.junge
  font-family 'Junge', serif

a
  color inherit
  text-decoration underline
  transition color .6s

  &:hover
    color color-focus

.loading
  position fixed
  right 50%
  bottom 50%
  transform translate(50%,50%)
  pointer-events none

@import '_layout'
@import '_title'
@import '_list'
@import '_future'
